<!-- NOTE THIS MATCHES THE ONE IN PUBLIC/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>🎧 Songhub 📻</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel="stylesheet" href="./styles.css" />
  </head>
  <body>
      <div id="app"></div>
      <div id="modal"></div>
      <script>
        window.message = '<%- message %>';
        window.user = '<%- JSON.stringify(user) %>';
        window.auth_url = '<%- auth_url %>';
      </script>
      <script src="./bundle.js"></script>
  </body>
</html>